.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
    margin-bottom: 35px;
}

.container select{
    border-radius: 100px;
    padding: 8px;
    background-color: rgba(249, 245, 245, 0.696);
    font-size: 20px;
}
