.contenedor{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contenedor div{
    position: relative;
    padding: 1.2rem;
    background-color: rgb(216, 212, 170);
}

.contenedorForm {
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.input{
    display: block;
    padding: .5rem 2rem;
    border-radius: 8px;
    border: 0;
    outline: solid 1px black;
}

.label{
    position: absolute;
    top: 15px;
    left: 3.1rem;
    background-color: rgb(216, 212, 170);
    padding: 0 .5rem;
    font-size: 20px;
}

.input:focus+.label{
    transform: translateY(-1.2rem);
    transition: .7s;
    font-size: 14px;
}

.input:not(:placeholder-shown)+.label{
    transform: translateY(-1.5rem);
}

.labelSelect {
    position: absolute;
    font-size: 20px;
    top: -9px;
    left: 3.1rem;
    background-color: rgb(216, 212, 170);
    padding: 0 .5rem;
}

.contenedor select{
    display: block;
    padding: .5rem 2rem;
    border-radius: 8px;
    border: 0;
    outline: solid 1px black;
    width: 233px;
}

.button{
    border-radius: 100px;
    padding: 8px;
    background-color: rgb(86, 82, 82);
    color: aliceblue;
    border: 0;
    outline: solid 1px black;  
}

.contenedor span{
    color: red;
}



