.container{
    margin-top: 20px;
    /* margin-bottom: 20px; */
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 1px;
    padding-bottom: 50px;
    border-radius: 10px;
    border: solid 1px black;
    background-color: rgba(249, 245, 245, 0.59);
}

.box1{
    position: relative;
    width: 50%;
    height: 100hv;
}

.box1 div{
    position: absolute;
}

.box2{
    position: relative;
    font-size: 20px;
    width: 50%;
    height: 100hv;
}

.img{
    max-width: 100%;
    max-height: 100vh;
}


