/* .container button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0; 
    background-color: black;
    font-size: 20px;
    color: aliceblue;

}
.container button:hover{
    background-color:  aliceblue; ;  
    color: black;
    outline: solid 1px black;
} */

.input{
    border-bottom-left-radius: 0.9375rem;
    border-top-left-radius: 0.9375rem;
    border: none;
    outline: none;
    background-color:white;
    padding: 10px;
    font-size: 20px;
    margin-right: -1px;
    width: 87%;
    height: 20px;
}
.button{
    border-bottom-right-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    background-color:white;
    border: none;
    color: black;
    width: 9%;
    height: 40px;
    padding: 10px;
    margin-left: -1px;
    font-size: 20px;
    cursor: pointer;
}

input, button{
    display: inline-block;
    vertical-align: middle;
}

