.container button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* border: none;  */
    background-color: rgb(86, 82, 82);
    color: aliceblue;
}

.container input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border: none; */
    outline: black;
}

